<form style="border:5px black ridge; width:300px; height:260px; ">
    <h3>LOGIN</h3>
    <label>UserName</label>
    <input type="text" class="form-control" name="user" />
    <br />
    <label>Password</label>
    <input class="form-control" type="password" name="pass" />
    <br />
    <button type="submit" class="form-control" value="Submit">Submit</button>
</form>

